/* daily実行済みのときだけ表示したい要素 */
.show-when-daily-done {
  display: none !important;
}
.is-daily-done .show-when-daily-done {
  display: inline-flex !important;
}
/* daily実行済みのときだけ非表示にしたい要素 */
.is-daily-done .hide-when-daily-done {
  display: none !important;
}
/* 今日、dailyグループが1つ以上完了しているときだけ表示 */
.show-when-daily-started {
  display: none !important;
}
.daily-started-today .show-when-daily-started {
  display: block !important;
}
/* 今日、dailyグループが1つ以上完了しているときだけ非表示 */
.daily-started-today .hide-when-daily-started {
  display: none !important;
}
.show-when-daily-started {
  display: none !important;
}
.daily-started-today .show-when-daily-started {
  display: inline !important;
}
.daily-started-today .hide-when-daily-started {
  display: none !important;
}
/*時限表示*/
.date-visible-block {
  display: none;
}
.date-visible-block.is-visible {
  display: block;
}
/*非表示汎用*/
.hidden {
  display: none !important;
}

/*メニュー*/
.home-slide-menu.hidden {
  display: block;
  transform: translateX(105%);
  pointer-events: none;
}

.home-menu-overlay.hidden {
  display: none;
}
